@model List<Zapatilla>
<h1>ZAPATILLAS</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Zapatilla zapa in Model)
        {
            <tr>
                <td>@zapa.IdProducto</td>
                <td>@zapa.Nombre</td>
                <td>
                    <a asp-action="Details" asp-controller="Home" asp-route-idzapatilla="@zapa.IdProducto" class="btn btn-info">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>